config.stopBubbling = true

#継承関係の処理
lombok.equalsAndHashCode.callSuper = call
lombok.toString.callSuper = call

#メソッドチェーン設定
lombok.accessors.chain = true

#loggerの名称統一
lombok.log.fieldName = log

#アノテーションコピー設定
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value